{% extends 'web/base.html' %}

{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center orange-text">Listings for Boston University.</h1>
    <br><br>
  </div>
</div>

<div class="container">
  <div class="section">
    <table class="striped">
   <thead>
     <tr>
         <th width="25%">Listing</th>
         <th width="40%">Description</th>
         <th width="15%">Posted by</th>
         <th width="10%">Price</th>
         <th width="10%">Rating</th>
     </tr>
   </thead>

   <tbody>
     {% for entry in latest_listings %}
     <tr>
       <td>{{ entry.title }}</td>
       <td>{{ entry.desc }}</td>
       <td>wpine215</td>
       <!--<td>{{ entry.user }}</td>-->
       <td>{{ entry.price }}</td>
       <td><div class="score s{{ entry.ratingJSON }}"></div></td>
     </tr>
     {% endfor %}
   </tbody>
 </table>
  </div>
  <br><br>
</div>
<br>
<br>
<br>
{% endblock %}
