<!--- BEGINNING OF BASE TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">

    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Dormlist</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Home</a></li>
        <li><a href="#">View Listings</a></li>
        <li><a href="#">Create Listing</a></li>
        <li><a class="waves-effect waves-light orange darken-1 btn" href="#">Log In</a></li>
        <li><a class="waves-effect waves-light light-green btn" href="#">Register</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Log In</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
<!--- END OF BASE TEMPLATE -->
<!--- BEGINNING OF CONTENT BLOCK -->
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Listings for Boston University.</h1>
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">
      <table class="striped">
     <thead>
       <tr>
           <th width="45%">Listing</th>
           <th width="20%">Posted by</th>
           <th width="10%">Price</th>
           <th width="10%">Rating</th>
       </tr>
     </thead>

     <tbody>
       <tr>
         <td>Alvin</td>
         <td>Eclair</td>
         <td>$0.87</td>
         <td><div class="score s9"></div></td>
       </tr>
       <tr>
         <td>Alan</td>
         <td>Jellybean</td>
         <td>$3.76</td>
         <td><div class="score s7"></div></td>
       </tr>
       <tr>
         <td>Jonathan</td>
         <td>Lollipop</td>
         <td>$7.00</td>
         <td><div class="score s4"></div></td>
       </tr>
     </tbody>
   </table>
    </div>
    <br><br>
  </div>

<!--- END OF CONTENT BLOCK -->
<!--- BEGINNING OF BASE TEMPLATE -->
  <footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">About Us</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Copyright (c) 2018 All Rights Reserved.
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../static/js/materialize.js"></script>
  <script src="../../static/js/init.js"></script>

  </body>
</html>
<!--- END OF BASE TEMPLATE -->
